{% extends 'layout.html.twig' %}

{% block title %}Cambio password - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Cambio password</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">aggiorna</button>
    {{ form_end(form) }}
{% endblock %}