{% for messageType in ['success', 'info', 'warning', 'danger'] %}
    {% for flashMessage in app.session.flashbag.get(messageType) %}
        <div class="alert alert-{{ messageType }}">
            <button class="close" data-dismiss="alert" type="button">&times;</button>
            {{ flashMessage|trans }}
        </div>
    {% endfor %}
{% endfor %}
