{% extends 'layout.html.twig' %}

{% block title %}Registrazione - {{ parent() }}{% endblock %}

{% block body %}
    <h2>Registrazione</h2>

    <div class="alert alert-success">Si prega di seguire le istruzioni nell'email di conferma.</div>
{% endblock %}